/*

Next

In larger sizes, make the main body scroll overflow, ie. tie it to the size of #face
In smaller sizes, figure out how to eliminate gap between header and #face without trickery
Change #title to a class rather than id... and make it work

*/

body 
{
  background: #DCD4E1;
  margin: 0 auto;
  font-family: Catamaran;
}

p
{
  color: #002b0d;
  opacity: 50%;
  padding-right: 50px;
}

#title
{
  font-family: Cairo;
  color: #00211C;
  line-height: 8px;
}

.flex-container 
{
  padding-top: 80px;
  display: flex;
  z-index: 1;
  justify-content: space-evenly;
}

.flex-item
{
  width: fit-content;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header
{
  position: fixed;
  top: 0;
  width: 100%;
  background: #00211C;
  z-index: 2;
}

@media screen and (min-width:940px) 
{
  .header
  {
    height: 80px;
  }

  .header img
  {
    width: 50px;
    padding: 5px;
    padding-left: 48%;
  }

  #face
  {
    min-width: 480px;
    background-image: url("vertical.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    /* background-size: auto 100%; */
  }

  #main
  {
    margin: 50px;
    margin-top: 30px;
  }
}

@media screen and (max-width:940px) 
{
  .flex-container 
  { 
    flex-wrap: wrap;  
  }

  .flex-item 
  { 
    flex-basis: 100%; 
  }

  .header
  {
    height: 60px;
  }

  .header img
  {
    width: 40px;
    padding: 2px;
    padding-left: 46%;
  }

  #face
  {
    margin-top: -20px; /* FIX THIS: leaves a gap the size of full height header */
    min-height: 200px;
    background-image: url("horizontal.jpeg");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  #main
  {
    margin: 30px;
    margin-top: 20px;
  }
}

.foot
{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #00211C;
  height: 20px;
}
